 <div class="col pt-2" id="col1Factura">
    <form id="form1" class="row g-3 pb-3 needs-validation" novalidate>
        <h2 style="font-weight: bold; color:white;">Datos de facturación</h2>
        <div class="col-md-2 input-group mt-3">
            <input type="text" class="form-control" id="cedulaPlantilla"
                placeholder="Cédula" style="max-width: 250px;" required>
            <button class="btn btn-success">Buscar</button>
            <div class="invalid-feedback" style="font-weight: bold;
                border-color: white;">
                Debe colocar una cédula!
            </div>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Primer Nombre" readonly value = {{cliente.Primer_Nombre}}>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Segundo Nombre" disabled value = {{cliente.Segundo_Nombre}}>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Primer Apellido" disabled value = {{cliente.Primer_Apellido}} >
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Segundo Apellido" disabled value = {{cliente.Segundo_Apellido}} >
        </div>
        <div class="col-12">
            <input type="text" class="form-control" placeholder="Dirección" disabled value = {{ciudad.nombre}}>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Telefono" disabled value  = {{telffinal}}>
        </div>
        <div class="col-md-3 pt-2">
            <h5 style="font-weight: bold; color:white;" >Quiere afiliarse?</h5>
        </div>
        <div class="col-md-1" id="colBotonAfiliado">
                <button class="btn btn-warning" type="submit">Afiliarse</button>
            </div>
    </form>
</div>