 <div class="col pt-2" id="col1Factura">
    <form id="form1" class="row g-3 pb-3 needs-validation" novalidate action="/links/afiliado"  method = "GET">
        <h2 style="font-weight: bold; color:white;">Datos de facturación</h2>
        <div class="col-md-2 input-group mt-3">
            <input type="text" class="form-control" id="cedulaPlantilla"
                placeholder="Cédula" style="max-width: 250px;" required readonly value = {{cliente.DocIdentidad}} name = "cedula">
            <button class="btn btn-success" disabled >Buscar</button>
            <div class="invalid-feedback" style="font-weight: bold;
                border-color: white;">
                Debe colocar una cédula!
            </div>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Primer Nombre" readonly value = {{cliente.Primer_Nombre}}>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Segundo Nombre" disabled value = {{cliente.Segundo_Nombre}}>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Primer Apellido" disabled value = {{cliente.Primer_Apellido}} >
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Segundo Apellido" disabled value = {{cliente.Segundo_Apellido}} >
        </div>
        <div class="col-12">
            <input type="text" class="form-control" placeholder="Dirección" disabled value = {{ciudad.nombre}}>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Telefono" disabled value  = {{telffinal}}>
        </div>
        <div class="col-md-3 pt-2">
            <h5 style="font-weight: bold; color:white;" >Quiere afiliarse?</h5>
        </div>
        <div class="col-md-1" id="colBotonAfiliado">
             <button class="btn btn-warning" type="submit" >Afiliarse</button>
            </div>
</div>     
</form>
 <div class="col-4 pt-2 pb-3" id="col2Factura">
                       <form class="row g-3 pb-3 needs-validation" novalidate action="/links/facturacion/{{cliente.DocIdentidad}}"  method = "GET">
                    <div class="col pb-2" id="datosCarrito">
                          <div class="col-md-4" id="numCaja">
                            <select class="form-select" required name = "Caja">
                            <option disabled selected value=""># Caja</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            </select>
                            <div class="invalid-feedback">
                                Debes elegir un numero de caja.
                            </div>
                        </div>
                  
                        <h4>Cantidad de productos:{{cantidadTotal}}</h4>
                        <h3>Total: {{total}}$</h3>

                        <div class="text-center">
                            <a href="/links/Producto"> <button type="submit" class="btn btn-success">Confirmar compra</button></a>
                           
                        </div>
                           
                    </div>
                   
                </div>
 </form>