<nav class="navbar navbar-expand-lg navbar-light" id="barra">
        <div class="container-fluid ">
            <a class="navbar-brand " href="/"><img src="/img/IKEA-Logo-1.png " alt=" " width="150px "></a>
            <button class="navbar-toggler " type="button " data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false " aria-label="Toggle navigation ">
                <span class="navbar-toggler-icon "></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="textNavBar">
                </ul>
                <div class="me-5 mt-1">
                    <a href="/links/carrito"><button class="botonImagen"></button></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid" style="background-image: url(/img/tabla2.png); min-height:615px">
        <div class="container pb-3">
            <div class="row pt-3">
     
            <div class="col" id="col1Carrito">
                <div id="tablaCarrito">
                   {{#each carrito}} 
                    <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">{{id_producto}}</th>
                    <td id="contenidoTabla">{{nombre}}</td>
                    <td id="contenidoTabla">{{Cantidad}}</td>
                    <td id="contenidoTabla">{{Precio}}</td>

                    <td>
                        <form action="/links/EliminaCarrito/{{id_producto}}" method="get">
                        <button class="btn btn-danger">Borrar</button>
                    </form>
                    </td>
                    </tr>
                </tbody>   
                </table>
                  {{else}}
                 <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                
                </tbody>
                </table>
                   {{/each}}
                </div>
            </div>
                <div class="col-4 pt-5 pb-3" id="col2Carrito">
                    <div class="col pb-2" id="datosCarrito">
                        <h4>Cantidad de productos: {{cantidadTotal}}</h4>
                        <h3>Total: {{total}} €</h3>
                        <div class="text-center">
                            <a href="/links/PrincipalFactura2">
                               <button class="btn btn-success" >Confirmar compra</button>
                            </a>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>