<!--NavBar-->
<nav id="barra" class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/IKEA-Logo-1.png" alt="" width="150px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="textNavBar">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
                        <li><a class="dropdown-item" id="dropdown-productos" href="#">Productos</a></li>
                        <li><a class="dropdown-item" id="dropdown-usuarios" href="/links/Categoria">Categorias</a></li>
                        <li><a class="dropdown-item" id="dropdown-usuarios" href="/links/Tienda">Tiendas</a></li>
                        <li>
                            <hr class="dropdown-divider" id="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" id="dropdown-tercero" href="#">Otra cosa</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Consola-->
<div>
    <div class="container-fluid" id="fondoContainer">
        <div class="row">
            <div class="col-3" id="col1">
                <div class="row">
                    <div class="form-floating mb-3 mt-2">
                    <form action="/links/Producto" method="GET">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Buscar Producto" name="Producto">
                        <div id="divBuscarBoton">
                            <button class="btn btn-primary" type="submit" id="buscarBoton1">Buscar</button>
                        </div>
                    
                </div>
                </div>
                  {{#if mensaje}}
                {{>Popup headline= mensajito }}
                {{/if}}
                </form>
            </div>

            <div class="col" id="col2">
                <!-- QUERY PARA MOSTRAR LOS DATOS QUE VIENEN DE LA BASE DE DATOS EN LOS INPUTS -->
                <form action="/links/Producto" method="GET">
                    {{#each Query}}
                    <div class="mt-2 input-group mb-3">
                        <input name="id_producto" type="number" class="form-control" placeholder="Id de Producto" aria-label="First name" id="idProducto" maxlength="50" value="{{id_producto}}" disabled=true>
                        <span class="input-group-text" id="basic-addon1">ID Producto</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="Nombre" type="text" class="form-control" placeholder="Nombre" aria-label="First name" id="nombreProducto" maxlength="100" value="{{nombre}}" disabled=true>
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                    </div>
                    <div class="mt-2 input-group mb-3" id="divPrecioProducto">
                        <input name="Precio" type="text" class="form-control" placeholder="Precio" aria-label="Precio" id="precioProducto" maxlength="10" value="{{Precio}}" disabled=true>
                        <span class="input-group-text" id="basic-addon1">Precio</span>
                    </div>
                    <div class="mt-2 input-group mb-3" id="divCantidadProducto">
                        <input name="cantidad" type="number" class="form-control" placeholder="Cantidad" aria-label="First name" id="cantidadProducto" maxlength="100" disabled=true value="{{Cantidad}}">
                        <span class="input-group-text" id="basic-addon1">Cantidad</span>
                    </div>
                    <div class="mt-2 input-group mb-3" id="divMaterialesProducto">
                        <input name="materiales" type="text" class="form-control" placeholder="Materiales" aria-label="First name" id="materialesProducto" maxlength="100" disabled=true value ="{{Materiales}}">
                        <span class="input-group-text" id="basic-addon1">Materiales</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <textarea rows= "9" name= "Caracteristicas" class="form-control" aria-label="Withtextarea" placeholder="Caracteristica" disabled=true id="textCaracteristicas">{{Caracteristicas}}</textarea>
                        <span class="input-group-text" id="basic-addon1">Caracteristicas</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <textarea rows="5" name= "Instrucciones" class="form-control" aria-label="Withtextarea" placeholder="Instrucciones" disabled=true id="textInstrucciones">{{Instrucciones}}</textarea>
                        <span class="input-group-text" id="basic-addon1">Instrucciones</span>
                    </div>
                    <div class="mt-3 mb-3" id="montajeProducto">
                        {{#if Montaje}}
                        <select class="form-select" aria-label="Default select example" name="Montaje" disabled >
                            <option>Montaje</option>
                            <option value="1" selected>Si</option>
                            <option value="0">No</option>
                        </select>
                        {{else}}
                        <select class="form-select" aria-label="Default select example" name="Montaje" disabled >
                            <option>Montaje</option>
                            <option value="1">Si</option>
                            <option value="0" selected>No</option>
                        </select>

                        {{/if}}

                    </div>
                    
                    {{!-- BOTONES CUANDO YA HE BUSCADO EN LA BASE DE DATOS Y DESEO MODIFICAR ELIMINAR, ANADIR O GUARDAR CAMBIOS --}}
                        </div>
            <div class="col-1" id="col3">
                <div class="col">
                    <form action="/links/ProductoGuardar" method="GET">
                    <div class="mt-2" id="divAñadirBoton">
                        <button type="submit" class="btn btn-success" id="btnAñadir">
                            <a href="/links/ProductoGuardar">Añadir</a>
                        </button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-1" id="col4">
                <form action="/links/delete" method="GET">
                <div class="mt-2" id="divBorrarBoton">
                    <button type="submit" class="btn btn-danger" id="btnBorrar">
                        <a href="/links/delete/{{id_producto}}"> Borrar</a> 
                    </button>
                </div> 
                </form>
            </div>
            <div class="col-1" id="col5">
                 <form action="/links/modificar" method="GET">
                <div class="mt-2" id="divModificarBoton">
                    <button type="submit" class="btn btn-warning" id="btnModificar">
                        <a href="/links/modificar/{{id_producto}}">Modificar</a>
                        </button>
                </div>
                </form>
            </div>
            <div class="col-auto" id="col6">
                <div class="mt-2" id="divGuardarBoton">
                    <button type="submit" class="btn btn-primary" id="btnGuardar" disabled>Guardar</button>
                </div>
            </div>
        </div>

                    {{!-- FIN DEL BLOQUE DE BOTONES HABILITADOS PARA ELIMINAR ANADIR O GUARDAR O MODIFICAR --}}
                    <!-- ELSE CUANDO EN LA PRIMERA INSTANCIA EL QUERY ES VACIO -->
                    {{else}}

                    <div class="mt-2 input-group mb-3">
                        <input name="id_producto" type="text" class="form-control" placeholder="Id de Producto" aria-label="First name" id="idProducto" maxlength="50" disabled=true>
                        <span class="input-group-text" id="basic-addon1">ID Producto</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="nombre" type="text" class="form-control" placeholder="Nombre" aria-label="First name" id="nombreProducto" maxlength="100" disabled=true>
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                    </div>
                    <div class="mt-2 input-group mb-3" id="divPrecioProducto">
                        <input name="precio" type="text" class="form-control" placeholder="Precio" aria-label="Precio" id="precioProducto" maxlength="10" disabled=true>
                        <span class="input-group-text" id="basic-addon1">Precio</span>
                    </div>
                     <div class="mt-2 input-group mb-3" id="divCantidadProducto">
                        <input name="cantidad" type="text" class="form-control" placeholder="Cantidad" aria-label="First name" id="cantidadProducto" maxlength="100" disabled=true>
                        <span class="input-group-text" id="basic-addon1">Cantidad</span>
                    </div>
                    <div class="mt-2 input-group mb-3" id="divMaterialesProducto">
                        <input name="materiales" type="text" class="form-control" placeholder="Materiales" aria-label="First name" id="materialesProducto" maxlength="100" disabled=true>
                        <span class="input-group-text" id="basic-addon1">Materiales</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="caracteristicas" type="text" class="form-control" placeholder="Caracteristicas" aria-label="First name" id="caracteristicasProducto" maxlength="500" disabled=true>
                        <span class="input-group-text" id="basic-addon1">Caracteristicas</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="instrucciones" type="text" class="form-control" placeholder="Instrucciones de uso" aria-label="First name" id="intruccionesProducto" maxlength="500" disabled=true>
                        <span class="input-group-text" id="basic-addon1">Instrucciones</span>
                    </div>
                    <div class="mt-3 mb-3" id="montajeProducto">
             
                        <select class="form-select" aria-label="Default select example" disabled >
                            <option selected >Montaje</option>
                            <option value="1" >Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    {{!-- BOTONES CUANDO AUN NO HE BUSCADO NADA EN LA BASE DE DATOS --}}
            </div>
            <div class="col-1" id="col3">
                <div class="col">
                    <div class="mt-2" id="divAñadirBoton">
                        <button type="submit" class="btn btn-success" id="btnAñadir">
                            <a href="/links/ProductoGuardar">Añadir</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-1" id="col4">
                <div class="mt-2" id="divBorrarBoton">
                    <button type="submit" class="btn btn-danger" disabled= true id="btnBorrar">Borrar</button>
                </div>
            </div>
            <div class="col-1" id="col5">
                <div class="mt-2" id="divModificarBoton">
                    <button type="submit" class="btn btn-warning" disabled= true id="btnModificar">Modificar</button>
                </div>
            </div>
            <div class="col-auto" id="col6">
                <div class="mt-2" id="divGuardarBoton">
                    <button type="submit" class="btn btn-primary" disabled= true id="btnGuardar">Guardar</button>
                </div>
            </div>
        </div>
                    {{!-- FIN DEL BLOQUE ANTES DE BUSQUEDA --}}
                    {{/each}}

                </form>
          
    </div>
</div>
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!--
<div class="container p-4">
    <div class= "row">
        <div class = "col-md-4">
            <div class= "card">
                <div class = "card-body">
                    <form action="/links/add" method="POST">
                        <div class= "form-group">
                            
                        <input type ="text" class= "form-control" name ="title" autofocus placeholder="Titulo ">
                        </div>
                        <div class="form-group">
                            <input type="url" name = "url" class= "form-control" placeholder="URL">
                        </div>
                        <div class="form-group">
                            <textarea name="description" rows="2" class= "form-control" placeholder="Descripcion "></textarea>
                        </div>

                        <div class="form-group">
                            <button class ="btn btn-success btn block">
                                Save
                            </button>
                        </div>


                    </form>
                </div>


            </div>

        </div>
    </div>
</div>