<!--NavBar-->
<nav id="barra" class="navbar navbar-expand-sm navbar-light">

    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/IKEA-Logo-1.png" alt="" width="150px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="textNavBar">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
                        <li><a class="dropdown-item" id="dropdown-productos" href="Producto">Productos</a></li>
                        <li><a class="dropdown-item" id="dropdown-usuarios" href="Categoria">Categorias</a></li>
                        <li><a class="dropdown-item" id="dropdown-usuarios" href="#">Tiendas</a></li>
                        <li>
                            <hr class="dropdown-divider" id="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" id="dropdown-tercero" href="#">Otra cosa</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Consola-->
<div>
    <div class="container-fluid" id="fondoContainer">
        <div class="row">
            <div class="col-3" id="col1">
                <div class="form-floating mb-3 mt-2">
                    <form action="/links/Tienda" method="GET">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Buscar Tienda" name="Tienda">
                        <div id="divBuscarBoton">
                            <button class="btn btn-primary" type="submit" id="buscarBoton1">Buscar</button>
                        </div>
                    </form>
                </div>
                 {{#if mensaje}}
                {{>Popup headline= mensajito }}
                {{/if}}
            </div>
           

            <div class="col" id="col2">
                <!-- QUERY PARA MOSTRAR LOS DATOS QUE VIENEN DE LA BASE DE DATOS EN LOS INPUTS -->
                <form action="/links/Tienda" method="GET">
                    {{#each Query}}
                    <div class="mt-2 input-group mb-3">
                        <input name="id_tienda" type="number" class="form-control" placeholder="Id Categoria" aria-label="First name" id="idTienda" maxlength="50" value="{{id_tienda}}" readonly >
                        <span class="input-group-text" id="basic-addon2">ID Tienda</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="nombre_sucursal" type="text" class="form-control" placeholder="Nombre" aria-label="First name" id="nombreSucursal" maxlength="50" value="{{nombre_sucursal}}" disabled>
                        <span class="input-group-text" id="basic-addon2">Nombre Sucursal</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="direccion" type="text" class="form-control" placeholder="Descripción" aria-label="First name" id="direccion" maxlength="50" value="{{direccion}}" disabled>
                        <span class="input-group-text" id="basic-addon2">Dirección</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="fecha_apertura" type="text" class="form-control" aria-label="First name" id="fechaApertura" value="{{fecha_apertura}}" disabled>
                        <span class="input-group-text" id="basic-addon2">Fecha de Apertura</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        {{#if telffinal}}
                        <input name="telefonoTienda" type="text" class="form-control" aria-label="First name" id="telefonoTienda" disabled value="{{telffinal}}">
                        <span class="input-group-text" id="basic-addon2">Teléfono</span>
                        {{/if}}
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="estilo_arquitectonico" type="text" class="form-control" placeholder="Estilo Arquitectonico" aria-label="First name" id="estiloArquitectonico" maxlength="50" value="{{estilo_arquitectonico}}" disabled>
                        <span class="input-group-text" id="basic-addon2">Estilo Arquitectonico</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="tamaño" type="number" class="form-control" placeholder="Tamaño" id="tamano" maxlength="50" value="{{tamano}}" disabled>
                        <span class="input-group-text" id="basic-addon2">Tamaño</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="numero_pasillos" type="number" class="form-control" placeholder="Numero de pasillos" aria-label="First name" id="numeroPasillos" maxlength="50" value="{{numero_pasillos}}" disabled>
                        <span class="input-group-text" id="basic-addon2">Numero de pasillos</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="capacidad_almacenamiento" type="number" class="form-control" placeholder="Capacidad de Almacenamiento" aria-label="First name" id="capacidadAlmacenamiento" maxlength="50" value="{{capacidad_almacenmiento}}" disabled >
                        <span class="input-group-text" id="basic-addon2">Capacidad Anaqueles</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="cantidad_productos" type="number" class="form-control" placeholder="Cantidad de productos" aria-label="First name" id="cantidadProductosTienda" maxlength="50" value="{{cantidad_productos}}" disabled>
                        <span class="input-group-text" id="basic-addon2">Cantidad de productos</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                    {{#if area_de_ninos}}
                    <select class="form-select mt-2" aria-label="Default select example" name="area"disabled>
                        <option selected>Area de niños</option>
                        <option value="1" selected>Si</option>
                        <option value="0">No</option>
                    </select>
                    {{else}}
                        <select class="form-select mt-2" aria-label="Default select example" name="area"disabled>
                        <option selected>Area de niños</option>
                        <option value="1">Si</option>
                        <option value="0" selected>No</option>
                    </select>
                    {{/if}}
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="codigo_lugar_geo" type="text" class="form-control" placeholder="Codigo Lugar-Geo" aria-label="First name" id="codigoLugarGeo" maxlength="50" value="{{codigo_lugar_geo}}" disabled>
                        <span class="input-group-text" id="basic-addon2">Codigo Lugar-Geo</span>
                    </div>

                    {{!-- BOTONES CUANDO YA HE BUSCADO EN LA BASE DE DATOS Y DESEO MODIFICAR ELIMINAR, ANADIR O GUARDAR CAMBIOS --}}
                        </div>
            <div class="col-1" id="col3">
                <div class="col">
                    <form action="/links/TiendaGuardar" method="GET">
                    <div class="mt-2" id="divAñadirBoton">
                        <button type="submit" class="btn btn-success" id="btnAñadir">
                            <a href="/links/TiendaGuardar">Añadir</a>
                        </button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-1" id="col4">
                <form action="/links/Eliminar" method="GET">
                <div class="mt-2" id="divBorrarBoton">
                    <button type="submit" class="btn btn-danger" id="btnBorrar">
                        <a href="/links/Eliminar/{{id_tienda}}"> Borrar</a> 
                    </button>
                </div> 
                </form>
            </div>
            <div class="col-1" id="col5">
                <form action="/links/modificart" method="GET">
                <div class="mt-2" id="divModificarBoton">
                    <button type="submit" class="btn btn-warning" id="btnModificar">
                        <a href="/links/modificart/{{id_tienda}}">Modificar</a>
                        </button>
                </div>
                </form>
            </div>
            <div class="col-auto" id="col6">
                <div class="mt-2" id="divGuardarBoton">
                    <button type="submit" class="btn btn-primary" id="btnGuardar" disabled>Guardar</button>
                </div>
            </div>
        </div>
                    {{!-- FIN DEL BLOQUE DE BOTONES HABILITADOS PARA ELIMINAR ANADIR O GUARDAR O MODIFICAR --}}
                    <!-- ELSE CUANDO EN LA PRIMERA INSTANCIA EL QUERY ES VACIO -->
                    {{else}}

                   <div class="mt-2 input-group mb-3">
                        <input name="id_tienda" type="number" class="form-control" placeholder="Id Categoria" aria-label="First name" id="idTienda" maxlength="50" disabled >
                        <span class="input-group-text" id="basic-addon2">ID Tienda</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="nombre_sucursal" type="text" class="form-control" placeholder="Nombre" aria-label="First name" id="nombreSucursal" maxlength="50" disabled>
                        <span class="input-group-text" id="basic-addon2">Nombre Sucursal</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="direccion" type="text" class="form-control" placeholder="Descripción" aria-label="First name" id="direccion" maxlength="50" disabled>
                        <span class="input-group-text" id="basic-addon2">Dirección</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="fecha_apertura" type="text" class="form-control" placeholder="AÑO-MES-DIA" aria-label="First name" id="fechaApertura" disabled>
                        <span class="input-group-text" id="basic-addon2">Fecha de Apertura</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="telefonoTienda" type="text" class="form-control" placeholder="Teléfono" aria-label="First name" id="telefonoTienda" disabled>
                        <span class="input-group-text" id="basic-addon2">Teléfono</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="estilo_arquitectonico" type="text" class="form-control" placeholder="Estilo Arquitectonico" aria-label="First name" id="estiloArquitectonico" maxlength="50" disabled>
                        <span class="input-group-text" id="basic-addon2">Estilo Arquitectonico</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="tamano" type="number" class="form-control" placeholder="Tamaño" id="tamano" maxlength="50" disabled>
                        <span class="input-group-text" id="basic-addon2">Tamaño</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="numero_pasillos" type="number" class="form-control" placeholder="Numero de pasillos" aria-label="First name" id="numeroPasillos" maxlength="50" disabled>
                        <span class="input-group-text" id="basic-addon2">Numero de pasillos</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="capacidad_almacenamiento" type="number" class="form-control" placeholder="Capacidad de Almacenamiento" aria-label="First name" id="capacidadAlmacenamiento" maxlength="50" disabled >
                        <span class="input-group-text" id="basic-addon2">Capacidad Anaqueles</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="cantidad_productos" type="number" class="form-control" placeholder="Cantidad de productos" aria-label="First name" id="cantidadProductosTienda" maxlength="50" disabled>
                        <span class="input-group-text" id="basic-addon2">Cantidad de productos</span>
                    </div>
                    <div class="mt-2 input-group mb-3">
                    <select class="form-select mt-2" aria-label="Default select example" disabled>
                        <option selected>Area de niños</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    </div>
                    <div class="mt-2 input-group mb-3">
                        <input name="codigo_lugar_geo" type="text" class="form-control" placeholder="Codigo Lugar-Geo" aria-label="First name" id="codigoLugarGeo" maxlength="50" disabled>
                        <span class="input-group-text" id="basic-addon2">Codigo Lugar-Geo</span>
                    </div>

                    {{!-- BOTONES CUANDO AUN NO HE BUSCADO NADA EN LA BASE DE DATOS --}}
            </div>
            <div class="col-1" id="col3">
                <div class="col">
                    <form action="/links/TiendaGuardar" method="GET"></form>
                    <div class="mt-2" id="divAñadirBoton">
                        <button type="submit" class="btn btn-success" id="btnAñadir">
                            <a href="/links/TiendaGuardar">Añadir</a>
                        </button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-1" id="col4">
                <div class="mt-2" id="divBorrarBoton">
                    <button type="submit" class="btn btn-danger" disabled= true id="btnBorrar" disabled>
                        Borrar</button>
                </div>
            </div>
            <div class="col-1" id="col5">
                <div class="mt-2" id="divModificarBoton">
                    <button type="submit" class="btn btn-warning" disabled= true id="btnModificar"disabled>
                        Modificar</button>
                </div>
            </div>
            <div class="col-auto" id="col6">
                <div class="mt-2" id="divGuardarBoton">
                    <button type="submit" class="btn btn-primary" disabled= true id="btnGuardar" disabled>
                        Guardar</button>
                </div>
            </div>
        </div>
                    {{!-- FIN DEL BLOQUE ANTES DE BUSQUEDA --}}
                    {{/each}}

                </form>
          
    </div>
</div>
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>